.Message{
    width: 100%;
}

.messages{
    position:absolute;
    bottom:60px;
    width: 100%;
    max-height: 405px;
}

.textArea{
    display:flex;
    justify-content: center;
    gap:5px;
    position:absolute;
    bottom:10px;
    width: 100%;
}

.Chat{
    height:100%;
    position: relative;
}